body {
    background-color: whitesmoke;
    color: darkslateblue;
    margin: 0;
    padding: 0;
}

button {
    border-color: darkslateblue;
}

#canvas {
    margin: 50px;
}

.row {
    display: flex;
    flex: 1;
}

.pixel {
    flex: 1;
    border: 1px dotted darkslateblue;
}

.colored {
    background-color: darkslateblue;
}

button.active {
    border: 5px solid pink;
}

.hidden {
    display: none;
}