body {
    background-color: indigo;
    color: white;
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

#canvas {
    margin: 50px;
}

.row {
    display: flex;
    flex: 1;
}

.pixel {
    flex: 1;
    border: 1px dotted dodgerblue;
}

.colored {
    background-color: deeppink;
}

button.active {
    border: 5px solid pink;
}

.hidden {
    display: none;
}